#board {
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(32, 1fr);
    gap: 0px;
    background-color: rgba(0, 0, 0, 0);
    border-color: black;
    position: absolute;
}

#board1 {
    width: 1600px;
    height: 3000px;
    position: relative;
}

.dung {
    position: absolute;
    bottom: 0px;
}

.tile {
    width: 98px;
    height: 23px;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    line-height: 23px;
    font-weight: bold;
    font-size: 15px;
}

.color0 {
    background-color: red;
}

.color1 {
    background-color: orange;
}

.color2 {
    background-color: yellow;
}

.color3 {
    background-color: green;
}

.color4 {
    background-color: blue;
}

.color5 {
    background-color: rgb(48, 31, 143);
}

.color6 {
    background-color: purple;
}

.color7 {
    background-color: rgb(253, 77, 195);
}

.black {
    background-color: black;
    color: white;
